html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul.unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

#map-canvas {
    float: left;
    width: 70%;
    height: 100%;
}

#control-panel {
    float: right;
    width: 30%;
    height: 100%;
    text-align: left;
}

#control-panel .panel {
    margin: 10px;
}

#control-panel h3 {
    margin-bottom: 3px;
}

#stop-locations .close {
    float: none;
}

.location-wrap {
    margin-bottom: 9px;
}

.location-wrap label {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
}

.location-wrap-start label,
.location-wrap-end   label {
    font-weight: bold;
}

.location-wrap input[type=text] {
    margin-bottom: 0;
}

.form-actions {
    margin-top: 5px;
}

.stop-actions { 
    padding-left: 45px;
    margin-bottom: 9px;
}
